.metadata
hybris/temp
hybris/data
hybris/licenses
hybris/log
hybris/config
hybris/bin/platform/
hybris/bin/ext-hybris/
hybris/bin/ext-accelerator/
hybris/bin/ext-addon/
hybris/bin/ext-channel/
hybris/bin/ext-commerce/
hybris/bin/ext-content/
hybris/bin/ext-data/
hybris/bin/ext-platform/
hybris/bin/ext-platform-optional/
.svn
build.xml
classes
instrumented
extensioninfo.xsd
gensrc
platformhome.properties
items.xsd
hmc.xsd
eclipsebin
testclasses
*.log
*.log.*
RemoteSystemsTempFiles
ext-template
beans.xsd
*-testclasses.xml
/config
*ruleset.xml
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.orig
