.metadata
/temp
/data
/licenses
/log
bin/platform/
bin/ext-hybris/
bin/ext-accelerator/
bin/ext-addon/
bin/ext-channel/
bin/ext-commerce/
bin/ext-content/
bin/ext-data/
bin/ext-platform/
bin/ext-platform-optional/
.svn
build.xml
classes
instrumented
extensioninfo.xsd
gensrc
platformhome.properties
items.xsd
hmc.xsd
eclipsebin
testclasses
*.log
*.log.*
RemoteSystemsTempFiles
ext-template
beans.xsd
*-testclasses.xml
/config
/config
/config
/config
*ruleset.xml
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.orig
